:root{
  --color-primary:#2cc06f;
  --color-primary-600:#0db14a;
  --color-warning:#ffbf47;
  --color-error:#ff5a3c;
  --bg-base:#0b0b0b;
  --card-bg:#ffffff;
  --border:#e6e6e6;
  --radius-md:12px;
  --space-4:24px;
  --font-base: 'Lato', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
